/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* common styles and utilities  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header {
    background-color: #2D25A0;
    padding-top: 50px;
    padding-bottom: 86px;
    margin-bottom: 70px;
}
header, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.container {
    width: 1160px;
    display: flex;
    justify-content: center;
     align-items: center;
}
h3 {
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}
p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* this top banner section */
.topper-container {
    width: 1160px;
    align-items: center;
}
.topper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topper-title {
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
}
.btn {
    padding: 10px 24px;
    background-color: #E02C6D;
    border: 0;
    color: white;
    font-size: 16px;
    transition: background-color 1s ease;
}
.btn:hover {
    border: 2px solid #E02C6D;
    background-color: #2D25A0;
    padding: 8px 22px;
    cursor: pointer;
}

.fa-arrow-right {
    padding-left: 8px;
    animation: slider 0.5s ease 0.5s infinite alternate;
    position: relative;
}
.topper-banner img{
    width: 556px;
    height: 438px;
    transition: transform 0.5s ease-in-out;
}
header:hover .topper-banner>img {
    transform:  scale(1.04) translateY(30px);
}
@keyframes slider {
    0% {
        transform:  translateX(8px);
        left: 0;
    }
    100% {
        left: 1px;
    }
}
/* this is player section  */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 30px; */
    grid-gap: 27px 30px;
    margin-bottom: 100px;
}
.player {
    padding: 15px;
    width: 300px;
    margin: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    height: 256px;
}
/* this is footer section */
.social {
    width: 483px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
}
.social img {
    width: 483px;
}
.social>p{
    font-size: 18px;
    color: black;
}
.filled {
    border-radius: 16px;
    background-color: #0b0d1711;
    color: #969BAB;
    padding: 7px;
    margin: 0 14px;
}

/* this is final match section  */
.final,.shop h2{ 
    text-align: center;
}
.match-details {
    border: 5px solid #2d25a0b2;
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.171);
}
.match-vs {
    display: flex;
    align-items: center;
}
.team-name {
    font-size: 24px;
    font-weight: bold;

}
.vs {
    padding: 25px;
    margin: 0 10px;
    background-color: #2D25A0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.match-details img {
    height: 75px;
}
.time-remaining {
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-stamp {
    font-size: 36px;
    font-weight: bold;
    margin: 20px;

}
.time-stamp span {
    font-size: 16px;
}

/* this is shopping section */
.jerseys {
    display: flex;
    margin-bottom: 50px;
}
.jersey {
    margin: 25px;
    border: 3px solid #2d25a077;
    padding: 25px;
}
.jersey-title h4{
    font-size: 20px;
    margin: 0;
}
.jersey-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jersey-title p{
    margin: 0;
}
.jersey-img img {
    height: 250px;
}
.fa-star {
    color: #FFC61C;
}
.cart {
    display: flex;
}
.fa-heart {
    background-color: #FFC61C;
    padding: 8px;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

/* mediaquery for mobile devices  */
@media only screen and (max-width:688px){
    
    .container,.topper-container {
        width: 100%;
    }
    .topper,.jerseys   {
        flex-direction: column;
    }
    .topper-title {
        font-size: 36px;
    }
    .topper-banner img{
        margin-top: 25px;
        width: 329px;
        height: 260px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .match-details {
        padding: 25px 0;
    }
    .match-vs {
        flex-direction: column-reverse;
    }
    
    .social img {
        width: 250px;
        height: 60px;
    }
}